body {
  background-color: #CDB4DB;
  color: #FFAFCC;
  font-family: "Times New Roman", serif;
}

h1, h2 {
  color: #FB6F92;
}

a {
  color: #A2D2FF;
  text-decoration: none;
}

a:hover {
  color: #BDE0FE;
}

nav {
  background-color: #FFC8DD;
  padding: 10px;        
  margin-bottom: 30px;  
}

nav a {
  color: #FB6F92; 
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #FFC8DD; 
  color: white;
  transition: 0.3s;
}

footer {
  overflow: auto;          
}

footer p {
  display: inline-block;
  margin: 0;
}

footer p.tagline {
  float: right;             /* move the quote to the right side */
  font-style: italic;
}
