body {
  background-color: red;
}

body {
  background-color: #CDB4DB;
  color: #FFAFCC;
  font-family: "Times New Roman", serif;
}

h1, h2 {
  color: #FB6F92;
}

a {
  color: #A2D2FF;
  text-decoration: none;
}
a:hover {
  color: #BDE0FE;
}

nav {
  background-color: #FFC8DD;
  padding: 10px;
  margin-bottom: 30px;
}
nav a {
  color: #FB6F92;
  font-weight: bold;
}
nav a:hover {
  background-color: #FFC8DD;
  color: white;
  transition: 0.3s;
}

header {
  border: 2px solid red;
}

main {
  border: 2px solid green;
}

footer {
  border-top: 2px solid #b8a5c6;
  overflow: auto;
}

footer p {
  display: inline-block;
  margin: 0;
}

footer .tagline {
  float: right;
  font-style: italic;
  color: #A2D2FF;
}

table, th, td {
  border: 1px solid #333;
  border-collapse: collapse;
  padding: 8px;
}

.evenrow {
  background-color: #ADD8E6;
}

p {
  line-height: 1.6;
}


footer {
  border-top: 2px solid #b8a5c6;
  overflow: auto;
  padding-top: 8px;
}

footer p {
  display: inline-block;
  margin: 0;
}

footer .tagline {
  float: right;
  font-style: italic;
  color: #A2D2FF;
}



footer p {
  display: inline-block;
  margin: 0;
}

footer p.tagline {
  float: right;
  font-style: italic;
}
